#mailcontframe {position: absolute;top: 85px;left: 181px;right: 0px;bottom: 40px;padding-bottom: 1px;height:208px;border-bottom: 1px solid #bcccda;background-color: #ffffff;overflow: auto;  /* css hack for IE */  width: expression((parseInt(document.documentElement.clientWidth)-230)+'px'); height: expression((parseInt(document.documentElement.clientHeight)-125)+'px');}
#mailpreviewframe {position: absolute;top: 305px;left: 180px;right: 0px;bottom: 40px;border: 1px solid #BCCCDA;  /* css hack for IE */width: expression((parseInt(document.documentElement.clientWidth)-230)+'px'); height: expression((parseInt(document.documentElement.clientHeight)-135-document.getElementById('mailcontframe').offsetHeight)+'px');}
#mailviewsplitterhorizontal {top: 334px;background:#E0E8EF;background:url(images/dimple.png) no-repeat center;background-position:center;height:7px;width:100%;cursor:row-resize;}
#messagelist tr td.icon {width: 16px;vertical-align: middle;}
#messagelist tr td.subject {padding-left: 5px;overflow: hidden;vertical-align: middle;z-index:1000000;}
#messagelist tr td.size {width: 60px;text-align: right;vertical-align: middle;}
#messagelist tr td.from, #messagelist tr td.to {padding-left: 5px;width: 180px;vertical-align: middle;}
#messagelist tr td.date {padding-left: 5px;width: 118px;vertical-align: middle;}
#messagelist tr.message {background-color: #EFF3F8;}
#messagelist tr.unread {font-weight: bold;background-color: #EFF3F8;}
#messagelist tr.selected td {color: #FFFFFF;background-color: #6D95BC;}
#messagelist tr.unfocused td {color: #FFFFFF;background-color: #A9C0D8;}
#messagelist tr.selected td a {color: #FFFFFF;}
#messagelist tr.unfocused td a {color: #FFFFFF;}
#messagelist tr.deleted td a {color: #CCCCCC;}
#messagelist tr.deleted td, #messagelist tr.deleted td a {color: #CCCCCC;}
body.messagelist {margin: 0px;background-color: #f9f9f9;}
#messagelist {width: 100%;border-top: 1px solid #bcccda;display: table;table-layout: fixed;  /* css hack for IE */ width: expression(document.getElementById('mailcontframe').clientWidth);}
#messagelist thead tr td {height: 22px;padding-top: 0px;padding-bottom: 0px;padding-left: 2px;padding-right: 4px;vertical-align: middle;border-bottom: 0px solid #999999;color: #333333;background-color: #EBEBEB;background-image: url('images/listheader_aqua.png');font-size: 11px;font-weight: bold;}
#messagelist thead tr td.sortedASC, #messagelist thead tr td.sortedDESC {background-image: url('images/listheader_dark.png');}
#messagelist thead tr td.sortedASC a {background: url('images/sort_asc.png') top right no-repeat;}
#messagelist thead tr td.sortedDESC a {background: url('images/sort_desc.png') top right no-repeat;}
#mailboxlist li {background-position:12px 4px;}
#messagelist tbody tr td {height: 24px;line-height:24px;font-size: 11px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;border-bottom: 1px solid #D7E2EC;cursor: pointer;}
#messagelist tbody tr td a {color: #000;text-decoration: none;}
#messagelist col {display: table-column;text-align: left;vertical-align: middle;}
#messagelist thead,#messagelist tr{width:100%}